---
import { Image } from "astro:assets";
import powered from '../assets/images/powered.webp'
import { SITE_CONFIG } from '../config/site';
---
<footer class="w-full h-[180px] bg-main flex justify-center items-center text-white font-main text-lg">
    <ul class="text-center max-sm:my-8">
        <li class="mb-8 underline decoration-dashed underline-offset-4">
            <a href={SITE_CONFIG.discordLink} target="_blank">Notre Discord</a>
        </li>
        <li>
            <a href="https://meshtastic.org/" target="_blank">
                <Image src={powered} alt="meshtastic powered logo" class="w-30" decoding="async" loading="lazy" width="300" height="100" />
            </a>
        </li>
    </ul>
</footer>